:host {
  display: block;
  width: 100%;
  max-width: 500px;
}

p {
  color: #242424;
  font-weight: 400;
  font-size: 22px;
  text-align: center;
}

.alert {
  border-radius: 25px;
  background-color: #f2f9f9;
  padding: 0.5rem 2rem;
  font-weight: 400;
  font-size: 19px;
}

.title-container {
  position: relative;
  width: 100%;

  img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
}
