<div class="summary">
  <div class="summary__item">
    <p class="summary__title">Total a pagar</p>
    <p class="summary__amount">{{ 600000 | currency }}</p>
    <p class="summary__total">Total pagos:3 <span>(5 facturas)</span></p>
  </div>
  <div class="summary__item">
    <p class="summary__title">Por vencer en 7 días</p>
    <p class="summary__amount">8 Facturas</p>
    <p class="summary__total">Hoy: 4 facturas</p>
  </div>
  <div class="summary__item">
    <p class="summary__title">Proveedor mayor monto</p>
    <p class="summary__amount">Clínica de piel</p>
    <p class="summary__total">Total: {{ 3000000 | currency }}</p>
  </div>
  <div class="summary__item">
    <p class="summary__title">Categoría más frecuente</p>
    <p class="summary__amount">Servicios de salud</p>
    <p class="summary__total">Frecuencia: 8</p>
  </div>
</div>
