<app-page-header class="mb-12">
  Pagos
  <btn-group>
    <button outline>Crear</button>
  </btn-group>
</app-page-header>

<app-status-nav class="ml-8 mb-12"></app-status-nav>

<app-summary class="ml-8 my"></app-summary>

<hr class="my-12" />

<div class="flex items-center justify-between mb-12">
  <div class="flex items-center gap-4">
    <div class="input-container-search">
      <img src="assets/icons/search.svg" alt="search" />
      <input type="text" placeholder="Buscar" />
    </div>

    <button icon>
      <img ngSrc="assets/icons/sort.png" alt="filter" width="20" height="20" />
      Ordenar
    </button>
  </div>

  <button icon class="export">
    <img ngSrc="assets/icons/export.svg" alt="filter" width="20" height="20" />
    Exportar
  </button>
</div>

<app-table [payments]="payments.products"></app-table>

<div class="flex justify-end mt-8">
  <app-paginator
    [length]="payments.total"
    [pageSize]="pageSize"
    (pageChange)="getPayments($event)"
  ></app-paginator>
</div>
