
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$miliopay-primary: mat.define-palette(mat.$indigo-palette);
$miliopay-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$miliopay-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$miliopay-theme: mat.define-light-theme((
  color: (
    primary: $miliopay-primary,
    accent: $miliopay-accent,
    warn: $miliopay-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($miliopay-theme);

/* You can add global styles to this file, and also import other style files */

// Reset styles
*,
*::before,
*::after,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Satoshi', sans-serif;
}

// tailwind styles
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-text: #242424;
  --primary-secondary: #707070;
  --primary: #0136fe;
}

// Global styles
h2 {
  color: var(--primary-text);
  font-weight: 700;
  font-size: 35px;
  line-height: 1;
  text-align: center;
}

.input-container {
  position: relative;
  z-index: 1;
  border: 1px solid var(--primary-secondary);
  border-radius: 5px;
  width: 100%;

  label {
    position: absolute;
    top: -12px;
    left: 0.5rem;
    z-index: 2;
    background-color: #ffffff;
    padding: 0 0.2rem;
    color: #242424;
    font-weight: 400;
    font-size: 16px;
  }

  input {
    border-radius: 5px;
    padding: 0.45rem;
    width: 100%;
    color: var(--primary-text);
    font-weight: 400;
    font-size: 19px;
  }

  img {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
    cursor: pointer;
  }
}

.input-container-search {
}

.text-info-small {
  color: var(--primary-text);
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}
